@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(./fontello.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  /*부모요소 10px이면 rem은 *10 16px rem단위*/
  font-family: 'Spoqa Han Sans';
  color: #181818;
  background-color: #fff;
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  clip-path: polygon(0 0,0 0,0 0);
  height: 1px;
  overflow: hidden; 
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;/*상속*/
}
/* 레이아웃 */
.container {
  background-color: #ccc;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}



.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  box-sizing: border-box;
  
  /* margin: 0 auto; */
}
/* 헤더 */
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
  position: relative;

}


/* 로고 */
.logo{
  position: absolute;
  top: 26px;
  left: 60px;
}
/* 멤버링크 */
.member{

  list-style: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0;
  margin-right: -8px;;
  font-size: 0;
  text-align: right;
}
.member li, .member a{
  display: inline-block;
}

.member li{
  font-size: 1.4rem;
}

.member [aria-hidden]{
  /* margin: 0 5px; */
}

.member a{
  text-transform: uppercase;
  
  padding: 2px 8px 2px 3px;
}
/* 메인 메뉴 */

.menu {
  background:  #db5629 linear-gradient(
    to bottom, 
    #ef962f 0%,
    #db5629 35%,
    #db5629 70%, 
    #ef962f 100%);
  padding-left: 0;
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 51px;
  
}

/* .menu::after{
  content: "";
  display: block;
  clear: both;
} */ /*높이가 필요없으면 필요함 높이가 변하지
않으면 h값을 설정하면 필요 없음(고정되어서)*/

.menu-item {
  float: left;
  position: relative;
}
.btn-menu {
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  border-left: 2px solid rgba(255,255,255,.85);
  padding: 0 20px;
  cursor: pointer;
  text-shadow: 0 1px 0 #000,
  1px 0 0 #000,
  -1px 0 0 #000,
  0 -1px 0 #000;
  line-height: 49px;
}

.menu-act .btn-menu{
      color: #ff0;
      
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  background-color: #000;
  height: 2px;
  width: 100%;
  /* position: relative;
  top:2px;   */
  
}
.sub-menu {
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  
  white-space: nowrap;
}
.sub-menu li,
.sub-menu a{
  display: inline-block;
}
.sub-menu a{

  padding: 8px 0;
  margin-right: 1em;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover{
  color: red;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e800';
  color: red;
 
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5,.sub-menu6 {
  right: 0;
}
.sub-menu1 {
  display: block;
}

.sub-menu2 {
  display: none;
}
.sub-menu3 {
  display: none;
}
.sub-menu4 {
  display: none;
}
.sub-menu5 {
  display: none;
}

.sub-menu6 {
  display: none;
}

.visual {
  height: 120px;
  background-color: lime;
}

/* 메인 콘텐츠 */
.main {
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  min-height: 450px;
  justify-content: space-between;
  padding: 30px;
  align-items: flex-start;

  /*그래픽셋 BFC영역을 생성한다. 독립적인 영역을 만든다. (overflow는 만든 크기로 영역을 다시 만든다)
  다시 크기를 읽어서 부모요소 height값이 auto이기 찾지 못하기 때문에 자식요소에서 
  찾게 된다.  잃어버린 자식을 찾게 된다. 하지만 overflow라는 속성은  position
  으로 이동하면 생각대로  안됀다. 그래서 가상 요소 선택자로 float를  해결할 수도 있다. */
}




.group1 {
  background-color: pink;
  width: 250px;
}

.group2 {
  background-color: lightgreen;

  width: 380px;

}

.group3 {
  background-color: coral;

  width: 190px;
}



.slogan {
  background-color: orange;
}

.footer-bg {
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer {
  background-color: skyblue;
}
