@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  /*부모요소 10px이면 rem은 *10 16px rem단위*/
  font-family: 'Spoqa Han Sans';
  color: #181818;
  background-color: #fff;
  font-weight: 400;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;/*상속*/
}
/* 레이아웃 */
.container {
  background-color: #ccc;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}



.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  box-sizing: border-box;
  
  /* margin: 0 auto; */
}
/* 헤더 */
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
  position: relative;

}


/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 65px;
}
/* 멤버링크 */
.member{

  list-style: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0;
  margin-right: -8px;;
  font-size: 0;
  text-align: right;
}
.member li, .member a{
  display: inline-block;
}

.member li{
  font-size: 1.4rem;
}

.member [aria-hidden]{
  /* margin: 0 5px; */
}

.member a{
  text-transform: uppercase;
  
  padding: 2px 8px 2px 3px;
}


.visual {
  height: 120px;
  background-color: lime;
}

/* 메인 콘텐츠 */
.main {
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  min-height: 450px;
  justify-content: space-between;
  padding: 30px;
  align-items: flex-start;

  /*그래픽셋 BFC영역을 생성한다. 독립적인 영역을 만든다. (overflow는 만든 크기로 영역을 다시 만든다)
  다시 크기를 읽어서 부모요소 height값이 auto이기 찾지 못하기 때문에 자식요소에서 
  찾게 된다.  잃어버린 자식을 찾게 된다. 하지만 overflow라는 속성은  position
  으로 이동하면 생각대로  안됀다. 그래서 가상 요소 선택자로 float를  해결할 수도 있다. */
}




.group1 {
  background-color: pink;
  width: 250px;
}

.group2 {
  background-color: lightgreen;

  width: 380px;

}

.group3 {
  background-color: coral;

  width: 190px;
}



.slogan {
  background-color: orange;
}

.footer-bg {
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer {
  background-color: skyblue;
}
